@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-zinc-950 text-zinc-100;
    font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  }
}
